﻿/* Resets */

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

figure {
	margin: 0;
}

ul, ol {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;

	li {
		list-style-type: none;
	}
}

a {
    color: $txt-primary;
}

/* Global */

html {
	font-size: 62.5%;

    /* needs to be there or you won't be able to scroll */
    height: auto;
    overflow: auto;
}

body {
    padding: 0 0 100px 0;
	background: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: $txt-primary;
	-webkit-text-size-adjust: 100%;
	font-size: 1.4em;
}

#debug {
    color: black !important;
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hide {
    display: none;
}