﻿
$columns: 12;

$susy: (
	global-box-sizing: border-box,
	columns: 12,
	gutters: 1/2,
	math: fluid,
	output: float,
	gutter-position: inside
);

/* Grid */

@mixin wrapper {
	@include container(1024px);
	@include gutter();
}

.wrapper {
	@include wrapper;
}

/* Columns */

[class*="col-"] {
	@include span(12);
}

$i: 1;

@while $i < 13 {
	[class^="col-#{$i}"]{
		width: span($i);
	}
	$i: $i + 1;
}

@media (max-width: $break-tab) and (min-width: $break-min) {

	$i: 1;

	@while $i < 13 {
		.col-#{$i}-m{
			width: span($i);
		}
		$i: $i + 1;
	}
}

@media (max-width: $break-mob) and (min-width: $break-min) {

	$i: 1;

	@while $i < 13 {
		.col-#{$i}-s{
			width: span($i);
		}
		$i: $i + 1;
	}
}

@media (max-width: $break-min) {

	[class*="col-"] {
		width: span(12);
	}
}

/* Block Grids */

[class*="blockList"] {
	clear: both;
	@include clearfix;

	> li {
		@include gallery(12 of 12);
		clear: both;
		margin-bottom: 2rem;
	}

	&[class*="-2"] > li {
		@include gallery(6 of 12);
	}

	&[class*="-3"] > li {
		@include gallery(4 of 12);
	}

	&[class*="-4"] > li {
		@include gallery(3 of 12);
	}

	@media (max-width: $break-tab-s) {

		&[class*="-2-m"] > li {
			@include gallery(6 of 12);
		}

		&[class*="-3-m"] > li {
			@include gallery(4 of 12);
		}

		&[class*="-4-m"] > li {
			@include gallery(3 of 12);
		}
	}

	@media (max-width: $break-mob) {

		&[class*="-2"], &[class*="-3"], &[class*="-4"] {
			
			> li {
				@include gallery(12 of 12);
				float: none;
			}
		}

		&[class*="-2-s"] > li {
			@include gallery(6 of 12);
		}

		&[class*="-3-s"] > li {
			@include gallery(4 of 12);
		}

		&[class*="-4-s"] > li {
			@include gallery(3 of 12);
		}
	}
}