﻿/* Icons */

.icon {
    display: block;
    width: 32px;
    height: 32px;
    font-family: "Segoe UI", sans-serif, "Segoe MDL2 Assets", "Symbols";

}


/**

previous &#xe100;
next &#xe101;
play &#xe102;
pause &#xe103;
edit &#xe104;
save &#xe105;
clear &#xe106;
delete &#xe107;
remove &#xe108;
add &#xe109;
cancel &#xe10a;
accept &#xe10b;
more &#xe10c;
redo &#xe10d;
undo &#xe10e;
home &#xe10f;
up &#xe110;
forward &#xe111;
right &#xe111;
back &#xe112;
left &#xe112;
favorite &#xe113;
camera &#xe114;
settings &#xe115;
video &#xe116;
sync &#xe117;
download &#xe118;
mail &#xe119;
find &#xe11a;
help &#xe11b;
upload &#xe11c;
emoji &#xe11d;
twopage &#xe11e;
leavechat &#xe11f;
mailforward &#xe120;
clock &#xe121;
send &#xe122;
crop &#xe123;
rotatecamera &#xe124;
people &#xe125;
closepane &#xe126;
openpane &#xe127;
world &#xe128;
flag &#xe129;
previewlink &#xe12a;
globe &#xe12b;
trim &#xe12c;
attachcamera &#xe12d;
zoomin &#xe12e;
bookmarks &#xe12f;
document &#xe130;
protecteddocument &#xe131;
page &#xe132;
bullets &#xe133;
comment &#xe134;
mail2 &#xe135;
contactinfo &#xe136;
hangup &#xe137;
viewall &#xe138;
mappin &#xe139;
phone &#xe13a;
videochat &#xe13b;
switch &#xe13c;
contact &#xe13d;
rename &#xe13e;
pin &#xe141;
musicinfo &#xe142;
go &#xe143;
keyboard &#xe144;
dockleft &#xe145;
dockright &#xe146;
dockbottom &#xe147;
remote &#xe148;
refresh &#xe149;
rotate &#xe14a;
shuffle &#xe14b;
list &#xe14c;
shop &#xe14d;
selectall &#xe14e;
orientation &#xe14f;
import &#xe150;
importall &#xe151;
browsephotos &#xe155;
webcam &#xe156;
pictures &#xe158;
savelocal &#xe159;
caption &#xe15a;
stop &#xe15b;
showresults &#xe15c;
volume &#xe15d;
repair &#xe15e;
message &#xe15f;
page2 &#xe160;
calendarday &#xe161;
calendarweek &#xe162;
calendar &#xe163;
characters &#xe164;
mailreplyall &#xe165;
read &#xe166;
link &#xe167;
accounts &#xe168;
showbcc &#xe169;
hidebcc &#xe16a;
cut &#xe16b;
attach &#xe16c;
paste &#xe16d;
filter &#xe16e;
copy &#xe16f;
emoji2 &#xe170;
important &#xe171;
mailreply &#xe172;
slideshow &#xe173;
sort &#xe174;
manage &#xe178;
allapps &#xe179;
disconnectdrive &#xe17a;
mapdrive &#xe17b;
newwindow &#xe17c;
openwith &#xe17d;
contactpresence &#xe181;
priority &#xe182;
uploadskydrive &#xe183;
gototoday &#xe184;
font &#xe185;
fontcolor &#xe186;
contact2 &#xe187;
folder &#xe188;
audio &#xe189;
placeholder &#xe18a;
view &#xe18b;
setlockscreen &#xe18c;
settile &#xe18d;
cc &#xe190;
stopslideshow &#xe191;
permissions &#xe192;
highlight &#xe193;
disableupdates &#xe194;
unfavorite &#xe195;
unpin &#xe196;
openlocal &#xe197;
mute &#xe198;
italic &#xe199;
underline &#xe19a;
bold &#xe19b;
movetofolder &#xe19c;
likedislike &#xe19d;
dislike &#xe19e;
like &#xe19f;
alignright &#xe1a0;
aligncenter &#xe1a1;
alignleft &#xe1a2;
zoom &#xe1a3;
zoomout &#xe1a4;
openfile &#xe1a5;
otheruser &#xe1a6;
admin &#xe1a7;
street &#xe1c3;
map &#xe1c4;
clearselection &#xe1c5;
fontdecrease &#xe1c6;
fontincrease &#xe1c7;
fontsize &#xe1c8;
cellphone &#xe1c9;
reshare &#xe1ca;
tag &#xe1cb;
repeatone &#xe1cc;
repeatall &#xe1cd;
outlinestar &#xe1ce;
solidstar &#xe1cf;
calculator &#xe1d0;
directions &#xe1d1;
target &#xe1d2;
library &#xe1d3;
phonebook &#xe1d4;
memo &#xe1d5;
microphone &#xe1d6;
postupdate &#xe1d7;
backtowindow &#xe1d8;
fullscreen &#xe1d9;
newfolder &#xe1da;
calendarreply &#xe1db;
unsyncfolder &#xe1dd;
reporthacked &#xe1de;
syncfolder &#xe1df;
blockcontact &#xe1e0;
switchapps &#xe1e1;
addfriend &#xe1e2;
touchpointer &#xe1e3;
gotostart &#xe1e4;
zerobars &#xe1e5;
onebar &#xe1e6;
twobars &#xe1e7;
threebars &#xe1e8;
fourbars &#xe1e9;
scan &#xe294;
preview &#xe295;
hamburger &#xe700;

*/