﻿/* Mixins */

@mixin clearfix {
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

@mixin retina-bg($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      background-size: $width $height;
    }
  }
}