﻿/* Typography */

@mixin regular {
	font-family: "MarkPro-Book";
}

@mixin bold {
	font-family: "MarkPro-Bold";
	font-weight: normal;
}

.pageTitle {
	font-size: 4rem;

	@media (max-width: $break-mob) {
		font-size: 2.6rem;
	}
}

.sectionTitle {
	font-size: 2.2rem;
	margin-bottom: 2rem;
}

.subHeader {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	position: relative;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.2rem;
}

 h1, h2, h3, h4, h5, h6 {
	color: $txt-primary;
	@include bold;
	font-weight: normal;
}

p {
	line-height: 1.6;
	color: $txt-primary;
	font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;

	a {
		text-decoration: none;
		color: $highlight;

		&:hover {
			text-decoration: underline;
		}
	}
}