﻿/* Font */

$base-font-size: 1.4rem;

/* Grid */

$gutter: 1rem;
$gutter-lrg: 2 * $gutter;

/* Colours */

$txt-primary: #242424;
$txt-light: #61605C;

$primary: #38003C;
$primary-h: darken($primary, 10%);
$primary-o: rgba($primary, .8);
$primary-l: lighten($primary, 10%);

$primary-light: #DEEBF4;
$primary-light-h: darken($primary-light, 10%);
$primary-light-l: lighten($primary-light, 15%);

$primary-dark: #030f40;
$primary-dark-h: darken($primary-dark, 10%);
$primary-dark-o: rgba($primary-dark, .7);

$secondary: #267788;
$secondary-h: darken($secondary, 10%);

$secondary-dark: #135965;
$secondary-dark-h: darken($secondary-dark, 10%);

$tertiary: #04F5FF;
$tertiary-h: darken($tertiary, 10%);

$highlight: #ff005a;
$highlight-h: darken($highlight, 10%);

$highlight-dark: #a6004c;
$highlight-dark-h: darken($highlight-dark, 10%);

$fantasy: #00FF87;
$fantasy-h: darken($fantasy, 10%);

$grey-light: #E8E8E8;
$grey-light-h: darken($grey-light, 5%);

$grey: #94948D;
$grey-h: darken($grey, 10%);

$grey-dark: #254061;
$grey-dark-h: darken($grey-dark, 10%);

$win: #13cf00;
$win-hover: darken($win, 10%);

$table-dark: #e4e4e4;
$table-mid: lighten($table-dark, 4%);
$table-light: lighten($table-dark, 8%);

$off-white: #ebebe4;
$white: #ffffff;

$nav-border: #451a49;

/* Social Media Colours */

$facebook: #3b5998;
$facebook-h: darken($facebook, 10%);

$twitter: #00aced;
$twitter-h: darken($twitter, 10%);

$google: #dd4b39;
$google-h: darken($google, 10%);

$youtube: #bb0000;
$youtube-h: darken($youtube, 10%);

$instagram: #125688;
$instagram-h: darken($instagram, 10%);

$mail: #555;
$mail-h: darken($instagram, 10%);

/* Breakpoints */

$break-min : em(400);
$break-mob : em(700);
$break-tab-s : em(900);
$break-tab : em(1023);
$break-tab-min : em(1024);

$mc-break-tab: em(1400);

$logo-gap: 11rem;

$content-padding: 2rem;
	